PORT=3000
JWT_SECRET=apteka_secure_jwt_secret_key_2026_xyz
TELEGRAM_BOT_TOKEN=8325874677:AAHHKMxUK78cOHfNUWma7nL6B5IIPHUlPCo
# Chat ID avtomatik: botga /start yuboring (@Apteka_hisobot_uz_bot)
# TELEGRAM_CHAT_ID=
NODE_ENV=production
